#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fs-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  background-color: grey;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  z-index: 1000;
}

.hs-logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hr-logo-span {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.hr-nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.hr-nav-li {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px;
  transition: box-shadow 0.2s, border 0.2s, background 0.2s;
  cursor: pointer;
}

.hr-nav-li:hover {
  background-color: white;
  border: 2px solid maroon;
  box-shadow: 0 2px 8px rgba(128, 0, 0, 0.15);
  background: #fff2f2;
}

.hr-nav-a {
  display: block;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.hr-nav-a:hover {
  color: maroon;
  transition: 0.3s;
}
