:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

.button-nav {
  @apply px-3 py-1 rounded-full hover:bg-white/5 hover:scale-105 transition-all duration-200;
}

.button-hero {
  @apply px-3 py-1 rounded-lg m-1;
}
